/* #Home */
#Home {
  /* margin-top: 105px; */
  margin-top: 80px;
  overflow-x: hidden;
}
@media screen and (max-width: 820px) {
#Home {
  margin-top: 80px;
}
}

/* .loading */
.loading img {
  animation: spin 7s linear infinite;
}
.loading p {
  text-align: center;
  line-height: normal;
}
.loading p span {
  display: block;
  font-size: .3em;
  font-weight: 400;
}
.loading-animation {
  opacity: 0;
  transform: translateY(30px) scale(0.8);
  filter: blur(.7px);
  animation: softReveal .9s ease-out forwards;
  animation-delay: .9s;
}
@keyframes softReveal {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

/* .swiper-slide */
.mainVI .swiper-slide img {
  transform: scale(1);
  transition: transform 5s ease-in-out;
}
.mainVI .swiper-slide-active img {
  transform: scale(1.08);
}

.bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/dot-pattern.png);
  /* background-size: cover;
  background-repeat: no-repeat; */
  z-index: 2;
  opacity: .4;
}

/* .mainVI */
.mainVI {
  transform: translateY(0);
}
.mainVI::before {
  content: "";
  height: 700px;
  display: block;
  display: none;
  position: absolute;
  top: -20%;
  left: 5%;
  mix-blend-mode: multiply;
  opacity: .3;
  background: #c8e6c9;
  border-radius: 50% 80% 50% 85% / 65% 60% 65% 60%;
animation: floatRotate 12s ease-in-out infinite;
}
.mainVI::after {
  content: "";
/* width: 100%;
max-width: 1440px; */
    height: 700px;
    display: block;
  display: none;
    position: absolute;
top: 25%;
left: 25%;
  mix-blend-mode: multiply;
  opacity: .3;
    background: #e0ceff;
    border-radius: 30% 70% 35% 65% / 50% 50% 50% 50%;
animation: floatRotate 10s ease-in-out infinite;
z-index: -1;
}
@keyframes floatRotate {
  0%   { transform: translateY(0px) rotate(0deg) scale(1); }
  25%  { transform: translateY(-5px) rotate(2deg) scale(1.02); }
  50%  { transform: translateY(-10px) rotate(-2deg) scale(1.05); }
  75%  { transform: translateY(-5px) rotate(2deg) scale(1.02); }
  100% { transform: translateY(0px) rotate(0deg) scale(1); }
}
.mainVI::before,
.mainVI::after {
  width: 100%;
  max-width: var(--after-width, 1300px);
}

@media screen and (max-width: 820px) {
  .mainVI {
    /* overflow-x: hidden;
    overflow-y: visible; */
    /* padding: 3% 0 0; */
    overflow: hidden;
  }
  /* .mainVI .swiper.mySwiper {
    width: 135%;
    margin-left: -20%;
  } */
  .mainVI .swiper-wrapper {
    padding-left: 10vw;
  }
}

/* .mVI_txt */
.mainVI .mVI_txt {
  position: absolute;
  /* top: 50%; */
  bottom: 7%;
  right: 0;
  /* width: 45%; */
  /* transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  /* color: #fff; */
  /* text-align: center; */
  z-index: 2;
  font-size: 2.7em;

  background: rgba(255 255 255 / 70%);
  padding: 1% 2%;

  /* text-shadow:
    3px 3px 0 #505050,
    -1px -1px 0 #505050,  
    1px -1px 0 #505050,
    -1px 1px 0 #505050,
    1px 1px 0 #505050; */
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}
.mainVI .mVI_txt p {
  line-height: normal;
}
.mainVI .mVI_txt b {
  display: block;
  font-family: var(--ttl-font);
  font-size: 1em;
  line-height: normal;
}
.mainVI .mVI_txt span {
  display: inline-block;
  width: 100%;
  /* border-top: 1px solid #fff; */
  font-family: var(--ttl-sub-font);
  font-size: .4em;
}
.mainVI .mVI_txt span::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow:
    2px 2px 0 #505050,
    -1px -1px 0 #505050,  
    1px -1px 0 #505050,
    -1px 1px 0 #505050,
    1px 1px 0 #505050;  
}

.mainVI .masked-area img {
  height: 100%;
  max-height: 820px;
  object-fit: cover;
}
.masked-area {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  /* border-radius: 55% 70% 45% 65%; */
  /* border: 10px solid #e1e1e1; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .masked-area::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: #ecfccd;
  } */

#Home main .intro {
  max-width: 100%;
  margin-top: 70px;
}
.intro .content-block {
  max-width: 1000px;
}

@media screen and (max-width: 820px) {
/* .mainVI .masked-area {
  border-radius: 75% 65% 50% 70%;
} */
.mainVI .masked-area img {
  width: 100%;
  height: 550px;
}
.masked-area {
  height: 550px;
}
.mainVI::before {
  height: 450px;
  top: -5%;
  left: -10%;
}
.mainVI::after {
  height: 500px;
  top: 15%;
  left: 0;
}
.mainVI .mVI_txt {
    top: 50%;
    left: 50%;
    right: unset;
    bottom: unset;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 5% 2%;
    font-size: 2em;
    text-align: center;
}
.mainVI .mVI_txt b {
  margin-bottom: 10px;
}
/* .mainVI .mVI_txt { */
    /* left: 50%;
    right: 50%; */
    /* bottom: 7%;
    font-size: 2em; */
    /* width: 60%; */
/* } */
}

main .intro p.read_txt {
  max-width: 900px;
}
main .intro figure img {
  max-width: 800px;
  height: 550px;
  border-radius: 57% 50% 74% 82% / 90% 67% 100% 78%;
  object-fit: cover;
}

main .mainCnt section p {
    width: 95%;
    margin: 20px auto 40px;
}

/* .page__nav */
nav.page__nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  background: #eee;
}
nav.page__nav ul {
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
nav.page__nav ul li {
  flex: 1 1 auto;
  text-align: center;
}
nav.page__nav ul li a {
  display: block;
  padding: 20px;
  background: #ddd;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}
nav.page__nav ul li a:hover {
  background: #333;
  color: #fff;
}
@media screen and (max-width: 820px) {
nav.page__nav {
  margin: 0 auto;
}
}


@keyframes slideUpFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.loading-animation.slide-up {
  animation: slideUpFadeOut 1s ease forwards;
}


#Sec01 img,
#Sec02 img,
#Sec03 img,
#Sec04 img,
#Sec05 img {
    border: 6px solid;
}
#Sec01 img {
    border-color: var(--p1-clr);
}
#Sec02 img {
    border-color: var(--p2-clr);
}
#Sec03 img {
    border-color: var(--p3-clr);
}
#Sec04 img {
    border-color: var(--p4-clr);
}
#Sec05 img {
    border-color: var(--p5-clr);
}

/* .mVoverlay */
.mVoverlay {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.mainVI .mVI_txt {
  padding: 2%;
  background-color: rgba(255 255 255 / 80%);
}
.mainVI .mVI_txt::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 90%;
  border: 2px solid rgba(63, 63, 63, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mVI_icon {
  position: absolute;
  top: 9%;
  left: 0;
  z-index: 2;
}
.mVI_icon ul {
  gap: 1.8em;
}
.mVI_icon li a {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #eee;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(255 255 255 / 80%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3f3f3f;
  animation: floatEffect 2.5s ease-in-out infinite;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(0); /* 初期位置 */
}
/* .mVI_icon li a:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  opacity: 1;
} */

@keyframes pulseEffect {
  0%, 100% { transform: scale(.9); }
  50%      { transform: scale(1.05); }
}
@keyframes floatEffect {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}
/* .mVI_icon li a { */
  /* animation: pulseEffect 5s ease-in-out infinite; */
  /* animation: floatEffect 2.5s ease-in-out infinite;
} */
/* ホバー時のスタイル */
.mVI_icon li a:hover {
  animation: none; /* アニメーションを止める */
  transform: scale(1.05); /* 拡大 */
  opacity: 1;
}

.mVI_icon li:nth-child(1) a {
  animation-delay: 1s;
  top: -10%;
}
.mVI_icon li:nth-child(2) a {
  animation-delay: 0.6s;
}
.mVI_icon li:nth-child(3) a {
  animation-delay: 1.5s;
  top: 10%;
}


.mVI_icon li i {
  margin-bottom: 5px;
  font-size: 3em;
  text-align: center;
}
.mVI_icon li p {
  font-family: var(--ttl-sub-font);
  /* font-size: .4em; */
  line-height: normal;
  text-align: center;
}
.mVI_icon li p span {
  display: block;
  font-family: var(--ttl-font);
  font-size: .5em;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
/* .mVI_icon li:first-child a {
  border: 4px solid #95897c;
  color: #95897c;
}
.mVI_icon li:nth-child(2) a {
  border: 4px solid #92a79f;
  color: #92a79f;
}
.mVI_icon li:last-child a {
  border: 4px solid #dd9393;
  color: #dd9393;
} */
/* .mVI_icon li a {
  border: 4px solid #81ccc4;
  color: #81ccc4;
} */
.mVI_icon li a::before {
  content: "";
  position: absolute;
  width: 130px; /* 少し小さめにして内側に配置 */
  height: 130px;
  border-radius: 50%;
  border: 2px solid rgba(63, 63, 63, 0.2); /* 半透明のライン */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* クリックを妨げないように */
}

@media screen and (min-width: 1440px) {
.mainVI .mVI_txt {
  right: 5%;
}
.mVI_icon {
  left: 5%;
}
}

@media screen and (max-width: 1440px) {
.mVI_icon {
  left: 5%;
}
.mainVI .mVI_txt {
  right: 5%;
}
.mVI_icon ul {
  gap: .8em;
}
.mVI_icon li a {
  width: 7.5em;
  height: 7.5em;
}
.mVI_icon li a::before {
  width: 6.5em;
  height: 6.5em;
}
.mVI_icon li i {
  font-size: 2em;
  margin-bottom: 4px;
}
.mVI_icon li p {
  font-size: 1em;
}
}

@media screen and (max-width: 820px) {
.mainVI img {
  filter: blur(1.2px) saturate(.85) brightness(.9);
}

.mainVI .mVI_txt {
  top: 60%;
  width: 95%;
  padding: 10% 2% 5%;
  background-color: rgba(255 255 255 / 85%);
}
  
.mVI_icon {
  top: 30%;
  left: 50%;
  right: unset;
  bottom: unset;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto;
}
.mVI_icon ul {
  justify-content: center;
  gap: .2em;
}
.mVI_icon li a {
  width: 7.3em;
  height: 7.3em;
  background-color: rgba(255 255 255 / 90%);
}
.mVI_icon li a::before {
  width: 6.3em;
  height: 6.3em;
}
.mVI_icon li i {
  font-size: 1.7em;
  margin-bottom: 2px;
}
.mVI_icon li p {
  font-size: .7em;
}
.mVI_icon li a {
  animation: unset;
}
.mVI_icon li:nth-child(1) a,
.mVI_icon li:nth-child(3) a {
  top: unset;
}
}


/* .infinite-slider */
.infinite-slider {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}
.slider-track {
  display: flex;
  --scroll-distance: -1000px;
  animation: scroll 49.28s linear infinite;
  padding-top: 30px;
  padding-bottom: 30px;
}
.slider-track li {
  position: relative;
  padding: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.slider-track li::after {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 4px;
  left: 4px;
  opacity: 20%;
  background-color: #000;
}
.slider-track li:nth-of-type(odd) {
  transform: rotate(-3deg) translateX(-4px) translateY(8px);
}
.slider-track li:nth-of-type(even) {
  transform: rotate(3deg) translateX(-4px) translateY(-8px);
}
.slider-track li img {
  width: 380px;
  height: 100%;
  object-fit: cover;
}
.slider-track li + li {
  margin-left: 30px;
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(var(--scroll-distance)); }
}


main {
  margin: 40px auto 0;
}
.snsArea {
  margin: 0 auto;
  padding: 60px 0 80px;
  background: #eee;
  background-image: linear-gradient(0deg, rgba(200, 200, 180, 0.3) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(200, 200, 180, 0.3) 1px, transparent 1px);
  background-size: 20px 20px;
}

@media screen and (max-width: 820px) {
section#Sec02 {
  margin: 200px auto 0px;
}
.snsArea {
    margin-top: 80px;
}
}