#Page {
  margin-top: 120px;
}
#Page h2 b {
  font-size: .6em;
}

main .intro figure img {
  max-width: 700px;
  height: 400px;
  border-radius: 57% 50% 74% 82% / 90% 67% 100% 78%;
}


/* .review */
.review.card-list.flexBox > div .faceicon {
  margin: 0 auto 20px;
}
.review.card-list.flexBox > div .faceicon img {
  height: 100px;
}
.review .note {
    background: repeating-linear-gradient(
    to bottom,
    #fff,
    #fff 34px,
    #ccc 35px
  );
    line-height: 35px;
    position: relative;
    margin-top: 10px;
}
.review .stars,
.review .rev-name {
  text-align: center;
}
.review .star {
  display: inline-block;
  position: relative;
  font-size: 20px;
  margin-right: 2px; 
}
.review .filled-star,
.review .half-star {
    color: gold;
}
.half-star::before {
  content: '★';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
  color: gold;
}
/* .review .half-star {
  color: orange;
} */
.review .empty-star {
  color: #ccc;
}

@media screen and (max-width: 820px) {
  /* .card-list */
.review.flexBox > div {
  width: calc(100%);
}
.review.flexBox > div + div {
  margin-top: 20px;
}
}


main .mainCnt section#Sec03 h4:before {
    content: "\f521";
    color: #c5b358;
}