#Page {
  margin-top: 120px;
}
#Page h2 b {
  font-size: .6em;
}


#Page main .mainCnt section .content-block {
    width: 80%;
    margin: 20px auto 40px;
}
#Page main .mainCnt section .content-block dl + dl {
  margin-top: 18px;
}
#Page main .mainCnt section .content-block dl dd {
  margin-top: 10px;
}


.review.flexBox {
  justify-content: space-between;
  align-items: baseline;
}
.review.flexBox > div {
  width: calc(100% / 3 - 2%);
  background: #fff;
  padding: 20px;
}
.review.flexBox > div:nth-child(3n+1):not(:first-child) {
  margin-top: 2%;
}
.review.flexBox > div p {
  display: block;
  width: 100%;
}
.review.flexBox > div p + p {
  margin-top: 10px;
}
.review.flexBox > div img {
  width: 100%;
  height: auto;
}

main .mainCnt section#Sec03 h4:before {
    content: "\f521";
    color: #c5b358;
}