<script>
// navigation
$(document).ready(function() {
  var htmLlist = [
    '<li><a href="./origin.html" class="f__link">自転車発祥の地</a></li>',
    '<li><a href="./cycling-road.html" class="f__link">サイクリングロード</a></li>',
    '<li><a href="./saitama-criterium.html" class="f__link">サイクルイベント</a></li>',
    '<li><a href="./trivia.html" class="f__link">自転車豆知識</a></li>',
    '<li><a href="./game.html" class="f__link">ゲーム</a></li>'
  ];
  htmLlist.forEach(function(listItem) {
    $('.addList').append(listItem);
  });
});
</script>
<script src="./js/common.js"></script>

<header class="fixed">
  <div class="hwrap flexBox">
    <h1 class="logo flexBox">
      <img src="./img/saitama_icon.png" class="sIcon">
      <a href="index.html"><span>Saitama Cycle Journey</span><p>彩りの輪</p></a>
    </h1>
    <nav class="navi sp_none"><ul class="addList flexBox"></ul></nav>
  </div>

  <div id="hamMenu" class="ham pc_none">
    <button type="button" class="btn_menu">
      <div class="back_color">
        <!-- ボタンの記述 -->
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar3"></span>
      </div>
    </button>
    <nav class="scrollbar_none"><ul class="addList ham_list"></ul></nav>
  </div>
</header>
